.sub_container > div {
  padding: 10px;
}

div {
  padding: 2px;
}

.lnumbers {
  background-color: darkgrey;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  border-radius: 10px;
}

.number {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  color: white;
  border-radius: 30px; /* 高度 */
}

.result {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.selectedNumbers {
  background-color: darkgrey;
  border-radius: 10px;
  font-size: large;
  min-height: 100px;
}

th > button {
  background-color: aliceblue;
}

th > button:disabled {
  cursor: not-allowed;
}

table {
  margin: auto;
  padding: 10px;
}
