.sub_container > div {
  padding: 10px;
}

div {
  padding: 2px;
}

.numbers {
  background-color: darkgrey;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  border-radius: 10px;
}

.number {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: black;
  border-radius: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.selectedNumbers {
  background-color: darkgrey;
  border-radius: 10px;
  font-size: large;
  max-height: 150px;
  height: 80%;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

th > button {
  background-color: aliceblue;
}

th > button:disabled {
  cursor: not-allowed;
}

table {
  margin: auto;
  padding: 10px;
}

.section {
  display: flex;
  flex-direction: row;
  min-height: 200px;
}

.section > div {
  flex: 1;
}
